@using Microsoft.AspNetCore.Identity
@using Chirp.Core.Classes;
@model Model;
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<div class="cheepbox">
    <h3>What's on your mind @(User.Identity.Name)?</h3>
    <form method="post" asp-page="/">
        <input style="float: left" name="Message" type="text" placeholder="Type here!" required asp-for="Message">
        <input type="submit" value="Share">
        <span asp-validation-for="Message"></span>
    </form>
</div>
<hr>