@using Microsoft.AspNetCore.Identity
@using Chirp.Core.Classes;
@using System.Security.Claims
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<div class=navigation>
	@if (SignInManager.IsSignedIn(User))
	{
		<div>
			<a href="/timeline">My Timeline</a> |
			<a href="/">Public Timeline</a> |
			<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">About Me</a>
			<a asp-area="Identity" asp-page="/Account/Logout" >Logout [@(User.Identity?.Name!)]</a>
		</div>
	}
	else
	{
		<div>
			<a href="/">Home</a> |
			<a asp-area="Identity" asp-page="/Account/Register" >Register</a>
			<a asp-area="Identity" asp-page="/Account/Login" >Login</a>
		</div>
	}
</div>