
@page "/"
@model Chirp.Razor.Pages.PublicModel
@using Chirp.Core.Classes;
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
<div class="holder">
    <h2> Public Timeline </h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_CheepBoxPartial" />
    }
    <partial name="_CheepListPartial" model="(Model.Cheeps, Model.CheepRange, Model.PageNumber, Model.TotalPages)" />
</div>