
@page "/{author}"
@using Chirp.Core.Classes
@model Chirp.Razor.Pages.UserTimelineModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
<div class="holder">
    @if (Model.Author != null){
        <h2> @Model.Author?.UserName's Timeline </h2>
    } 
    else 
    {
        <h2> Author not found! :( </h2>
    }
    
    @if (SignInManager.IsSignedIn(User) && Model.Author?.UserName == User.Identity?.Name)
    {
        <partial name="_CheepBoxPartial" />
    }
    <partial name="_CheepListPartial" model="(Model.Cheeps, Model.CheepRange, Model.PageNumber, Model.TotalPages, Model.Author, Model.followedAuthors)" />
</div>