
@page "/{author}"
@using Chirp.Core.Classes
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
<div class="holder">
    <h2> @Model.Author?.UserName's Timeline </h2>
    <partial name="_CheepListPartial" model="(Model.Cheeps, Model.CheepRange, Model.PageNumber, Model.TotalPages)" />
</div>